{% extends 'base.html' %}
{% block content %}
<div class="row">
    <div class="col-md-3">
        <div class="list-group">
            <a href="#" class="list-group-item active">Profile</a>
            <a href="#" class="list-group-item">Notifications</a>
            <a href="#" class="list-group-item">Billing & Invoices</a>
            <a href="#" class="list-group-item">Plans & Add-ons</a>
        </div>
    </div>
    <div class="col-md-9">
        <div class="card p-3 shadow-sm">
            <h4>Welcome to Your Dashboard</h4>
            <p>Manage your account settings and preferences here.</p>
        </div>
    </div>
</div>
{% endblock %}
