{% extends 'base.html' %}
{% block content %}
<h1>Plans & Add-ons</h1>
<form method="POST">
   <div> 
    <label for="plan">Choose a Plan:</label>
    <select id="plan" name="plan">
        <option value="Basic">Basic</option>
        <option value="Premium">Premium</option>
        <option value="Enterprise">Enterprise</option>
    </select>
</div>
<div>
    <label for="auto_renew">Enable Auto-Renewal?</label>
    <input type="checkbox" id="auto_renew" name="auto_renew">
</div>
<div>
    <button type="Submit">Subscribe</button>
</div>    
</form>
{% endblock %}
 
